* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the title */
    position: relative; /* Allows positioning of the back button */
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

header h1 {
    font-size: 18px;
}

.back-button {
    position: absolute;
    left: 10px;
    top: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.content {
    text-align: center;
    padding: 20px;
}

.food-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666666;
}
