

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
    margin: 0;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: #28a745;  /* Green background */
    color: white;  /* White text */
    padding: 10px 0;  /* Padding to add space around the text */
    border-radius: 8px;  /* Rounded corners for the header */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;  /* Ensure the text is white to contrast with green */
}

.form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.cart {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    border-bottom: 1px solid #f1f1f1;
    border: 1px solid #ddd;
}

.item-info {
    flex: 1;
}

.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-price p {
    font-size: 16px;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
}

footer {
    text-align: center;
}

#payButton {
    background-color: #28a745;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff; /* Green background for navigation */
    padding: 10px 0;
    border-radius: 8px;
}

.nav-btn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
}

.nav-btn:hover {
    background-color: #28a745; /* Darker green on hover */
}
